/* Mobile */
.pusher {
  margin-left: $margin - 70;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pusher {
    margin-left: $margin - 70;
  }
}

@media only screen and (min-width: 991px) {
  .pusher {
    margin-left: $margin - 130;
  }
}
